<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031935647034-6hmfcvnhm13cr1ir75kf29nv4jantehu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031935647034-6hmfcvnhm13cr1ir75kf29nv4jantehu</string>
	<key>API_KEY</key>
	<string>AIzaSyB8nNbCwMbqFSuMkTR1Qy45lqoWfAGEdJI</string>
	<key>GCM_SENDER_ID</key>
	<string>1031935647034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-f81a9</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-f81a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031935647034:ios:21379ce287b7c2768e0403</string>
</dict>
</plist>